<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Log4Net configuration -->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.28.0" newVersion="4.1.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>